
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# SQLite database
capstone.db

# Python packaging
dist/
build/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Environment files
.env
.env.*
